.header{
    background-color: #131921;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 1rem 1rem .5rem 1rem;
    gap: 20px;
    
}
.logo{
    width: 7% ;
}
.logo img{
    width: 100%;
}

.search{
    height: 35px;
    display: flex;
    align-items: center;
    width: 70%;
    padding-bottom: .6rem;

}
.search input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px 0 0 3px;
    font-size: 1rem;
}
.search input::placeholder{
    font-size: 1rem;
}
.search-icon{

    background-color: #F3A847;
    color: #333333;
    padding: .41rem;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.name, .sign-in{
    text-decoration: none;
    color: white;
}
.nav-options{
 display: flex;
 width: 23%;
 justify-content: space-between;
 padding-bottom: .6rem;
}
.sign-in-text, .order{
font-weight: 700;
}
.cart{
    display: flex;
    align-items: center;
    position: relative;
}
.cart-num{
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}